{% extends 'alpacify/template.html' %}

{% block content %}
    <p>
        <b>Everybody knows about the zombie apocalypse. Everybody knows what
        will happen.</b> Everybody has a plan on how to survive, and most
        importantly we all know what happens when you get bitten by a zombie.
        But what do we know about the Alpacalypse? We know that it, along with
        the zombie and raptor apocalypse, will happen. Sooner or later, the
        alpacas will spread like wild fire across the globe. But did you know
        that alpacas work the same way as zombies; when you're bitten by an
        alpaca you become an alpaca.
    </p>
    <p>
        This knowledge is something that the crew of
        <a href="{{ wonderlan }}" target="_blank">WonderLAN</a> shared with us,
        and it got us thinking; how would we look if we were alpacas? So we
        created the website that you're currently visiting, AlpacifyMe. It lets
        you upload an image of yourself, and by the power of our highly
        sophisticated software it will replace your face with that of an
        alpaca.
    </p>
    <p>
        So how does this fantastic application work? It's easy! Simply follow
        <a href="index">this link</a>, choose a picture and click "Alpacify
        Me!".  Then all that's left to do is to wait for the results.
    </p>
    <p>
        Good luck with the Alpacapypse!
    </p>
{% endblock %}
