{% extends 'alpacify/template.html' %}

{% block content %}
    <p>
        This website and the domain is owned by me,
        <a href="{{ viking_web }}" target="_blank">{{ viking }}</a>.
        However, I'm definitely not the only person behind this master piece of
        a website, so I want to give credit to
        <a href="{{ kenny_web }}" target="_blank">{{ kenny }}</a>. He was the one who came up
        with the idea, and he also helped write the code as well. Also, during
        all the initial tests when we alpacified images from a camera he was
        the model, and he did a terrific job.
    </p>
{% endblock %}
