{% extends 'alpacify/template.html' %}

{% block content %}
    <p>
        AlpacifyMe exists to spread some joy to its users, and to help them
        find their inner alpaca. The site is there for completely
        non-commercial, and no images or IP addresses will be sold to evil
        corporations.
    </p>
    <p>
        Storing your alpacified images on the server is completely volountary,
        and nothing will be store until you click the button named "Share the
        fluff" on the upload page. If you do choose to share the fluff (which
        will be very appreciated), but regret your decision afterwards this is
        perfectly fine. Please <a href='contact'>contact me</a> and we'll fix
        the issue.
    </p>
    <p>
        As a final notice, this site <b>does not use</b> any form of analyitcs,
        tracking scripts, cookies, or other evil stuff. In other words, the
        only thing we're interested in knowing about you is how fluffy you'd be
        if you were an alpaca.
    </p>
    <p>
        With all that said, I hope you'll enjoy the site!
    </p>
{% endblock %}
